services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: acme
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
